body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: #ffffff;
    overflow-x: hidden;
  }
  
  .nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #4B244A;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; /* Display elements next to each other */
    margin-right: 23px; /* Adjust the margin-right as needed */
    margin-bottom: 670px;
    margin-top: 100px;
    margin-left: 81px;
}

  .nav-item:hover{
    color:#020202 ;
  }
  
  .search-container {
    position: absolute;
    top: 5%;
    right: 4%;
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    position: relative; /* Make the search bar a positioning context */
    padding: 10px 40px 10px 5px;
    border-radius: 65px;
    width: 156px;
    margin-right: 20px; /* Adjust the margin-right to create space for the icon */
  }
  
  .search-icon {
    position: absolute;
    top: 46%;
    right: 15%; /* Position the icon to the left of the search bar */
    transform: translateY(-50%); /* Center the icon vertically */
    cursor: pointer;
  }
  
  .image {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 154px;
    height: 25px;
  }
  
  .line {
    position: absolute;
    top: 19%;
    width: 100%;
    height: 1px;
    background-color: #4B244A;
  }
  
  
  .p1 {
    position: absolute;
    bottom: -120px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto';
    font-size: 40px;
    color: #4B244A;
    font-weight: bold;
}

.search-container2 {
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.search-bar2 {
    position: relative;
    padding: 10px 40px 10px 5px;
    border-radius: 165px;
    width: 400px;
    margin-right: 20px;
}
  

  
  
  * {box-sizing:border-box}



.slideshow-container {
    max-width: 100%; /* Adjust the width as needed */
    position: absolute;
    margin:auto;
    margin-top: 11.9%;
    left: 0
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%; /* Make the image fill the entire width of the container */
    height: 400px;
    object-fit: cover;
}

  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .dot-container {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }