<div class = 'card'>
    <!--<script>
        var dataToSend = {}; // Provide initial structure (optional)
      </script>-->
    <div class = card-header>
        <h4 class='front-weight-bold'></h4>
    </div>
    <div class="card-body">
        
        
          
          <div class = card-header>
            <h4 class='front-weight-bold'><%= dataToSend.Title || 'Untitled Recipe' %></h4>
            <img src="<%= dataToSend.Image %>" alt="<%= recipeData.Title %> recipe image">
          </div>
    
     </div>
</div>